@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
html,
body {
  font-family: 'DotGothic16', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}

.icon-pulse {
  animation: grow 1.8s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
