@import 'defaults';
@import 'colors';
@import 'mixins';
@import 'animations';
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 20px;
  z-index: 2;
}

.home {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-main-button {
  padding-top: 4em;
}

.initialize {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.spotify-icon {
  position: absolute;
  width: 40px;
  top: 20px;
  left: 20px;
  transition-duration: 200ms;
}

.spotify-icon:hover {
  opacity: 0.8;
  transform: scale(0.9), o;
}

.stats {
  position: fixed;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.visualizer-container {
  position: fixed;
  overflow: hidden;
}

//? TRACK INFO

.track-info {
  @include flex-centered-all-row;
  position: fixed;
  width: 100%;
  top: 110px;
  line-height: 1em;
}

.album-art {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 50%;
  margin-left: -40px;
}
