@import 'colors';
@import 'mixins';
@import 'animations';
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html,
body {
  font-family: 'DotGothic16', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.8em 0;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

.home {
  height: 100vh;
  padding-top: 8em;
  align-items: center;
}

.initialize {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.track-info {
  position: absolute;
  top: 1em;
  line-height: 0.2em;
}

.spotify-icon {
  position: absolute;
  width: 40px;
  top: 1em;
  left: 1em;
  transition-duration: 200ms;
}

.spotify-icon:hover {
  opacity: 0.8;
  transform: scale(0.9), o;
}

.stats {
  position: fixed;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.visualizer-container {
  position: fixed;
  overflow: hidden;
}

.track {
  position: absolute;
}
